<nav class="navbar navbar-dark bg-dark">
    <a href="admin/">
        <h1>Admin</h1>
    </a>
    <a href="{% url 'home' %}">
        <h1>Home</h1>
    </a>
    <a href="{% url 'room' 1 %}">
        <h1>Room</h1>
    </a>
    <a href="{% url 'create-room' %}">
        <h1>Create Room</h1>
    </a>
    {% if request.user.is_authenticated  %}
        <p>Hello {{ request.user }}</p>
        <a href="{% url 'logout' %}">
            <h1>Logout</h1>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <h1>Login</h1>
        </a>
    {% endif %}

    <form class="form-inline" method="GET" action="{% url 'home' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" name="q" type="submit">Search</button>
      </form>
</nav>
<hr>
